@if (user(); as user) {
  <div class="card">
    <div class="card-header">
      <img [src]="user.image" alt="User Avatar" class="avatar" />
      <h2 class="user-name">{{ user.firstName }}</h2>
    </div>
    <div class="card-body">
      <div class="detail-item">
        <span class="label">Email:</span>
        <span class="value">{{ user.email }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Role:</span>
        <span class="value">{{ user.role }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Location:</span>
        <span class="value">{{ user.address.city }}</span>
      </div>
    </div>
  </div>
}
