<div class="rounded-lg bg-white p-6 shadow-md">
  <h2 class="mb-4 text-2xl font-bold text-gray-800">Signal Forms</h2>
  <p class="text-gray-600">This is the Signal Forms component. You can build your form here!</p>

  <form (submit)="onSubmit($event)" class="grid w-full grid-cols-2 gap-8">
    <div class="mx-auto w-72">
      <div>
        <label>
          Email:
          <input (focus)="setFocus('email')" type="email" [formField]="loginForm.email" />
        </label>
        @if (loginForm.email().touched() && loginForm.email().invalid()) {
          <ul class="error-list">
            @for (error of loginForm.email().errors(); track error) {
              <li>{{ error.message }}</li>
            }
          </ul>
        }
      </div>
      <div>
        <label>
          Password:
          <input (focus)="setFocus('password')" type="password" [formField]="loginForm.password" />
        </label>
        @if (loginForm.password().touched() && loginForm.password().invalid()) {
          <div class="error-list">
            @for (error of loginForm.password().errors(); track error) {
              <p>{{ error.message }}</p>
            }
          </div>
        }
      </div>
      <div>
        <label>
          Confirm Password:
          <input
            (focus)="setFocus('confirmPassword')"
            type="password"
            [formField]="loginForm.confirmPassword" />
        </label>
        @if (loginForm.confirmPassword().touched() && loginForm.confirmPassword().invalid()) {
          <div class="error-list">
            @for (error of loginForm.confirmPassword().errors(); track error) {
              <p>{{ error.message }}</p>
            }
          </div>
        }
      </div>
      <button type="submit">Log In</button>
    </div>

    <div class="w-72">
      <pre class="w-full rounded bg-slate-100 p-3 font-mono text-xs whitespace-pre-wrap">{{
        focusedFieldIsInvalid() | json
      }}</pre>
    </div>
  </form>
</div>
